.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  width:100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bgVideo{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.logosvgs{
  width: 120px;
  height: 90px;
}
.navButton{
  background-color: rgba(0, 0, 0, 0.6) !important;
  color:white !important;
  border:1px rgba(0, 0, 0, 0.1) solid !important
}
.navButton:hover .navButton:focus{
  background-color: black !important;
  color:white !important;
  border:1px rgba(0, 0, 0, 0.1) solid !important
}
.homeBanner{
  position:relative;
  width:100vw;
  height:100vh;
}
.sections{
  padding: 30px 0px 30px 0px;
  width:100vw;
}
.contentsection{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.imgclass{
  width:100%
}